*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;

  text-align: center;
}
.to-do-list {
  border-radius: 15px;
  width: 95%;

  text-align: left;
}
body {
  line-height: 1.2;
  font-size: 18px;
  background-color: #66deb2;
}
.removetodo {
  width: 150px;

  font-size: 14px;
  padding: 3px;
}
.to-do-list__item {
  background: white;
  border-radius: 15px;
  border: #66deb2 2px solid;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.to-do-list__item--animated {
  animation: fadeIn 0.5s ease-in-out;
}

.header__title {
  font-size: 1.5rem;
}
.textOfWork {
  width: 80%;
  border-radius: 5px;
  border: orchid 2px solid;
}
.createWork {
  background: orchid;
  border-radius: 20px;
  width: 15%;
}
.todoForm {
  width: 95%;
  margin-left: auto;
}
